/*
* Skeleton V1.2
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

a.three_lines {
background: #404040;
padding: 5px 8px;
/*display: none;*/
position: absolute;
top: 8px;
left: 10px;
color: #fff;
text-decoration: none;
z-index: 999999;
cursor: pointer;
}

#loginform-custom       { margin: 3em; padding: 2em; border: 1px solid #e3e3e3; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; max-width: 230px; -moz-box-shadow: 0px 0px 8px 0px #ccc;   -webkit-box-shadow: 0px 0px 8px 0px #ccc; box-shadow: 0px 0px 8px 0px #ccc; }


.Outer {
  background: #fff;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em 0 !important;
  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -khtml-border-radius: 8px;
}

#fullWidthStickyNav.sticky { margin: 0; position: fixed; top: 0; z-index: 100; }

/*** HEADER : STICKY NAV MENU ***/

/* To see a menu in your header, you'll need to first add one in WordPress Admin */

#stickyNav          {
  margin: 0 auto;
  /*
  width: 90%;
  max-width: 960px;
  */
  background: #1862a8;
}
.stickyMenu         { margin:0 2rem; padding:0; list-style:none; height: 50px; }

.stickyActive       { background: #747272; }

.stickyMenu li        {
  height: 50px;
  display: inline-block;
  position:relative;
  z-index:500;
  margin:0px 1px 0 1px;
  color: #444;
  /*-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;*/
  float: left;
}
.stickyMenu li:hover > a { }
.stickyMenu li:hover      { color: #8bc540; }
.stickyMenu li a      { display:block;  padding:16px 18px 9px 18px; font-weight:800; text-decoration:none; text-align:left; color:#fff; font-size: 1.2em;}
.stickyMenu li a:hover    { color:#a0ccbd; }
.stickyMenu li ul li a:hover{ color:#a0ccbd; }
.stickyMenu li.current_page_item > a { }
.stickyMenu li.current_page_item > a::after {
  content: " ";
  position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 8px;
   margin: 0 1em;
  border-bottom: 2px solid #fff;
}
ul.sub-menu li.current_page_item > a::after {
  border-bottom: none;
}
.stickyMenu a.selected    { color:#f00; }

/* submenu, it's hidden by default */
.stickyMenu ul        { position:absolute;  left:0;  display:none; list-style:none; width: auto; min-width: 150px; background: #1862a8; padding: 10px; top: 54px;}
.stickyMenu ul li       { float: none;  margin: 10px auto; width: 100%; height: auto;}
.stickyMenu ul li:hover   { background: none; }
/* display block will make the link fill the whole area of LI */
.stickyMenu ul a      { display:block; padding: 0; color:#fff; }
.stickyMenu ul a:hover    { text-decoration:none; }

/* fix ie6 small issue */
*html .stickyMenu ul    { margin:0 0 0 -2px; }

.floatingNav {
    background-color: #333;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    clear: both;
    display: none;
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 999;
    padding: 12px 0;
}



.admin-bar .floatingNav {
    top: 28px;
}

ul.floatMenu {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
ul.floatMenu li {
  float: left;
  margin-left: 15px;
}
ul.floatMenu li a {
  text-decoration: none;
  color: #fff;
}

a.backtotop         {display:none;position:fixed;right:20px;bottom:20px;position:expression("absolute");bottom:expression(eval(document.body.scrollTop)+(eval(document.body.height)-10));background-color:#333;color:#fff;-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);-moz-box-shadow:0 0 10px rgba(0,0,0,0.4);box-shadow:0 0 10px rgba(0,0,0,0.4);padding:12px 12px 11px 12px;background:#000 url(../img/goup.png) 12px 14px no-repeat;width:28px;height:30px; box-sizing: content-box;}


.wrapHeader         {
  background: #fff;
  background: rgba(255,255,255,1);
}
#fullWidthStickyNav     {
  width: 100%;
  height: 50px;
  text-align: center;
  z-index: 8000;
  /*border-bottom: 1px solid #E4e4e4;
  border-top: 1px solid #E4e4e4;*/
  overflow: visible;
  position: relative;
  /*background: #0078bf;
  background: -moz-linear-gradient(top,  #0078bf 0%, #40a2db 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0078bf), color-stop(100%,#40a2db));
background: -webkit-linear-gradient(top,  #0078bf 0%,#40a2db 100%);
background: -o-linear-gradient(top,  #0078bf 0%,#40a2db 100%);
background: -ms-linear-gradient(top,  #0078bf 0%,#40a2db 100%);
background: linear-gradient(to bottom,  #0078bf 0%,#40a2db 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078bf', endColorstr='#40a2db',GradientType=0 );*/

}
#fullWidthStickyNav .container { margin-bottom: 0; margin-top: 0; max-width: 1024px;}
#fullWidthStickyNav .container .row { margin-bottom: 0; }

.fixed            {position:fixed !important;  }

.fullWidthHeader      { width: 100%; text-align: center; /*padding-bottom: 2em;*/ }
#fullWidthFooter      { width: 100%; text-align: center;  }
#fullWidthFooter a    { text-decoration: none; }

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {



  }

  /* Min width 768px (devices and browsers) */
  @media only screen and (min-width: 768px) {
    .topHeading {

    }
  }


  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

    .stickyMenu     { /*display: none;*/ }
    a.three_lines {
      display: block;
    }

  }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/