/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 95%; margin-left: auto; margin-right: auto; padding: 0; max-width: 980px; box-sizing: border-box; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 1.04167%; margin-right: 1.04167%; }
    .row                                        { margin-bottom: 2.08334%; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 4.16667%;  } /* 40px / 960px */
    .container .two.columns                     { width: 10.41667%; } /* 100px / 960px */
    .container .three.columns                   { width: 16.66667%; } /* 160px / 960px */
    .container .four.columns                    { width: 22.91667%; } /* 220px / 960px */
    .container .five.columns                    { width: 29.16667%; } /* 280px / 960px */
    .container .six.columns                     { width: 35.41667%; } /* 340px / 960px */
    .container .seven.columns                   { width: 41.66667%; } /* 400px / 960px */
    .container .eight.columns                   { width: 47.91667%; } /* 460px / 960px */
    .container .nine.columns                    { width: 54.16667%; } /* 520px / 960px */
    .container .ten.columns                     { width: 60.41667%; } /* 580px / 960px */
    .container .eleven.columns                  { width: 66.66667%; } /* 640px / 960px */
    .container .twelve.columns                  { width: 72.91667%; } /* 700px / 960px */
    .container .thirteen.columns                { width: 79.16667%; } /* 760px / 960px */
    .container .fourteen.columns                { width: 85.41667%; } /* 820px / 960px */
    .container .fifteen.columns                 { width: 91.66667%; } /* 880px / 960px */
    .container .sixteen.columns                 { width: 97.91667%; } /* 940px / 960px */

    .container .one-third.column                { width: 31.25%; } /* 300px / 960px */
    .container .two-thirds.column               { width: 64.58334%; } /* 620px / 960px */

    /* Offsets */
    .container .offset-by-one                   { padding-left: 6.25%;  } /* 60px / 960px  (not sure if the context value should be 960, but hey.. */
    .container .offset-by-two                   { padding-left: 12.5%; } /* 120px / 960px */
    .container .offset-by-three                 { padding-left: 18.75%; } /* 180px / 960px */
    .container .offset-by-four                  { padding-left: 25%; } /* 240px / 960px */
    .container .offset-by-five                  { padding-left: 31.25%; } /* 300px / 960px */
    .container .offset-by-six                   { padding-left: 37.5%; } /* 420px / 960px */
    .container .offset-by-eight                 { padding-left: 50%; } /* 480px / 960px */
    .container .offset-by-nine                  { padding-left: 56.25%; } /* 540px / 960px */
    .container .offset-by-ten                   { padding-left: 62.5%; } /* 600px / 960px */
    .container .offset-by-eleven                { padding-left: 68.75%; } /* 660px / 960px */
    .container .offset-by-twelve                { padding-left: 75%; } /* 720px / 960px */
    .container .offset-by-thirteen              { padding-left: 81.25%; } /* 780px / 960px */
    .container .offset-by-fourteen              { padding-left: 87.5%; } /* 840px / 960px */
    .container .offset-by-fifteen               { padding-left: 93.75%; } /* 900px / 960px */



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 95%; }  /* width was 768px */
        .container .column,
        .container .columns                         { margin-left: 1.30208%; margin-right: 1.30208%;  } /* 10px / 768px */
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 1.30208%;  } /* 10px / 768px */
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 1.30208%;  } /* 10px / 768px */
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 3.64583%; } /* 28px / 768px */
        .container .two.columns                     { width: 9.89583%; } /* 76px / 768px */
        .container .three.columns                   { width: 16.14583%; } /* 124px / 768px */
        .container .four.columns                    { width: 22.39583%; } /* 172px / 768px */
        .container .five.columns                    { width: 28.64583%; } /* 220px / 768px */
        .container .six.columns                     { width: 34.89583%; } /* 268px / 768px */
        .container .seven.columns                   { width: 41.14583%; } /* 316px / 768px */
        .container .eight.columns                   { width: 47.39583%; } /* 364px / 768px */
        .container .nine.columns                    { width: 53.64583%; } /* 412px / 768px */
        .container .ten.columns                     { width: 59.89583%; } /* 460px / 768px */
        .container .eleven.columns                  { width: 66.14583%; } /* 508px / 768px */
        .container .twelve.columns                  { width: 72.39583%; } /* 556px / 768px */
        .container .thirteen.columns                { width: 78.64583%; } /* 604px / 768px */
        .container .fourteen.columns                { width: 84.89583%; } /* 652px / 768px */
        .container .fifteen.columns                 { width: 91.14583%; } /* 700px / 768px */
        .container .sixteen.columns                 { width: 97.39583%; } /* 748px / 768px */

        .container .one-third.column                { width: 30.72916%; } /* 236px / 768px */
        .container .two-thirds.column               { width: 64.0625%; } /* 492px / 768px */

        /* Offsets */
        .container .offset-by-one                   { padding-left: 6.25%; } /* 48px / 768px */
        .container .offset-by-two                   { padding-left: 12.5%; } /* 96px / 768px */
        .container .offset-by-three                 { padding-left: 18.75%; } /* 144px / 768px */
        .container .offset-by-four                  { padding-left: 25%; } /* 192px / 768px */
        .container .offset-by-five                  { padding-left: 31.25%; } /* 240px / 768px */
        .container .offset-by-six                   { padding-left: 37.5%; } /* 288px / 768px */
        .container .offset-by-seven                 { padding-left: 43.75%; } /* 336px / 768px */
        .container .offset-by-eight                 { padding-left: 50%; } /* 384px / 768px */
        .container .offset-by-nine                  { padding-left: 56.25%; } /* 432px / 768px */
        .container .offset-by-ten                   { padding-left: 62.5%; } /* 480px / 768px */
        .container .offset-by-eleven                { padding-left: 68.75%; } /* 528px / 768px */
        .container .offset-by-twelve                { padding-left: 75%; } /* 576px / 768px */
        .container .offset-by-thirteen              { padding-left: 81.25%; } /* 624px / 768px */
        .container .offset-by-fourteen              { padding-left: 87.5%; } /* 672px / 768px */
        .container .offset-by-fifteen               { padding-left: 93.75%; } /* 720px / 768px */
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 93.75%; }  /* width was 300px */
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }  /* width was 300px */

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 95%; }  /* width was 420px */
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 100%; }  /* width was 420px */
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .remove-bottom {
        margin-bottom: 0;
    }
    .centered {
        text-align: center;
    }
